.logo-container {
    z-index: 0;
    width: 700px;
    height: 60px;
    position: absolute;
    top: 0;
    right:15%;
    left: 45%;
    bottom:0;
   
    .solid-logo {
        position: absolute;
        top:auto;
        right: auto;
        bottom:auto;
        left: 0;
        margin: auto;
        width: 100%;
        opacity: 75%;
        transform: rotateZ(20deg);   
    }    
}

